@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.divContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    width: 100vw;
    height: 100vh;
    margin-top: -3rem;
}

.form{
    width: 90%;
}

.divForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 80%;
    margin-top: -2rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.253);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10.2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.divName {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: -3rem;
}

.labelName {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    color: rgb(255, 255, 255);
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    margin-right: 1rem;
}

.inputName {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    width: 60%;
    height:1.5rem;
    margin-top: .5rem;
    border-radius: 16px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.253);
    border: 1px solid rgba(255, 255, 255, 0.3);     
}

.divHp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.labelHp {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    color: rgb(255, 255, 255);
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    margin-right: 1rem;
}

.inputHp {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    width: 60%;
    height:1.5rem;
    margin-top: .5rem;
    border-radius: 16px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.253);
    border: 1px solid rgba(255, 255, 255, 0.3);     
}

.divAttack {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.labelAttack {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    color: rgb(255, 255, 255);
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    margin-right: 1rem;
}

.inputAttack {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    width: 60%;
    height:1.5rem;
    margin-top: .5rem;
    border-radius: 16px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.253);
    border: 1px solid rgba(255, 255, 255, 0.3);     
}

.divDefense {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.labelDefense {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    color: rgb(255, 255, 255);
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    margin-right: 1rem;
}

.inputDefense {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    width: 60%;
    height:1.5rem;
    margin-top: .5rem;
    border-radius: 16px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.253);
    border: 1px solid rgba(255, 255, 255, 0.3);     
}

.divSpeed {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.labelSpeed {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    color: rgb(255, 255, 255);
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    margin-right: 1rem;
}

.inputSpeed {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    width: 60%;
    height:1.5rem;
    margin-top: .5rem;
    border-radius: 16px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.253);
    border: 1px solid rgba(255, 255, 255, 0.3);     
}

.divHeight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.labelHeight {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    color: rgb(255, 255, 255);
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    margin-right: 1rem;
}

.inputHeight {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    width: 60%;
    height:1.5rem;
    margin-top: .5rem;
    border-radius: 16px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.253);
    border: 1px solid rgba(255, 255, 255, 0.3);     
}

.divWeight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.labelWeight {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    color: rgb(255, 255, 255);
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    margin-right: 1rem;
}

.inputWeight {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    width: 60%;
    height:1.5rem;
    margin-top: .5rem;
    border-radius: 16px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.253);
    border: 1px solid rgba(255, 255, 255, 0.3);     
}

.divImage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.labelImage {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    color: rgb(255, 255, 255);
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    margin-right: 1rem;
}

.inputImage {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    width: 60%;
    height:1.5rem;
    margin-top: .5rem;
    border-radius: 16px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.253);
    border: 1px solid rgba(255, 255, 255, 0.3);     
}

.divType {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.labelType {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    color: rgb(255, 255, 255);
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    margin-right: 1rem;
}

.selectType {
    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
    font-weight: 200;
    width: 60%;
    margin-top: 1rem;
    border-radius: 16px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.253);
    border: 1px solid rgba(255, 255, 255, 0.3);     
}

.pError {
    width: 50%;
    font-family: 'Kanit', sans-serif;
    font-size: .7rem;
    font-weight: 200;
    color: rgb(253, 125, 121);
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    margin-left: 1rem;
}

.divTypeSelected {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.h1SelectedTitle {
    font-family: 'Kanit', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    color: rgb(255, 255, 255);
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
}

.pSelected{
    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
    font-weight: 200;
    color: rgb(247, 208, 44);
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    margin-left: 1rem;
}

.divButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: -15px;
}

.buttonDisabled {
    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(0, 0, 0);
    height: 2.3rem;
    width: 25rem;
    background-color: rgba(255, 255, 255, 0.123);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: -5rem;
    text-decoration: none;
}


.buttonSubmit {
    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(0, 0, 0);
    height: 2.3rem;
    width: 25rem;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: -5rem;
    text-decoration: none;
    transition: 0.3s;
}

.buttonSubmit:hover {
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transform: translateY(-1px);
}

.button {
    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(0, 0, 0);
    height: 2.3rem;
    width: 8rem;
    background-color: rgb(247, 208, 44);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    background-color:rgb(214, 179, 39);
    color: rgb(0, 0, 0);
    transform: translateY(-1px);
}