@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.divContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  margin-top: -3rem;
}

.divCardDetail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 65%;
  margin-top: 5rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.253);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10.2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.divCardImageName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 100%;
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.name {
  font-family: 'Kanit', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0px;
  margin-top: 5px;
}

.img {
  height: 400px;
  margin-top: -6rem;
  margin-left: -3rem;
  filter: drop-shadow(-2px 4px 15px rgb(0, 0, 0));
  transition: 0.3s;
}

img:hover {
  transform: translateY(-3px);

}

.divTypeContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.divType {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 8rem;
  height: 3rem;
  margin-top: 1rem;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.typeName {
  font-family: 'Kanit', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:2rem;
  width: 80%;
  height: 90%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* background: rgba(255, 255, 255, 0.2); */
  border-radius: 16px;
}

.divStatsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.stat1{
  display: flex;
  justify-content: space-around;
  font-family: 'Kanit', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  margin-top: 0px;
  width: 100%;
}

.stat2{
  display: flex;
  justify-content: space-around;
  font-family: 'Kanit', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  margin-top: 0px;
  width: 100%;
}

.stat3{
  display: flex;
  justify-content: space-around;
  font-family: 'Kanit', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  margin-top: 0px;
  width: 100%;
}
  .hp {
  font-family: 'Kanit', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
}

.attack {
  font-family: 'Kanit', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
}

.defense {
  font-family: 'Kanit', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
}

.speed {
  font-family: 'Kanit', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
}

.height {
  font-family: 'Kanit', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
}

.weight {
  font-family: 'Kanit', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
}

.button {
  font-family: 'Kanit', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(0, 0, 0);
  height: 2.3rem;
  width: 8rem;
  background-color: rgb(247, 208, 44);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: rgb(214, 179, 39);;
  color: rgb(0, 0, 0);
  transform: translateY(-1px);
}

/* Estilos para cada tipo */
.Normal {
  width: 10rem;
  height: 2.3rem;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 1.5rem;
  background: rgba(168, 167, 122, 0.900);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(255, 255, 255, 0.35);
}

.Fighting {
  width: 10rem;
  height: 2.3rem;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 1.5rem;
  background: rgba(194, 46, 40, 0.900);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(255, 255, 255, 0.35);
}

.Flying {
  width: 10rem;
  height: 2.3rem;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 1.5rem;
  background: rgba(169, 143, 243, 0.900);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(255, 255, 255, 0.35);
}

.Poison {
  width: 10rem;
  height: 2.3rem;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 1.5rem;
  background: rgba(163, 62, 161, 0.900);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(255, 255, 255, 0.35);
}

.Ground {
  width: 10rem;
  height: 2.3rem;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 1.5rem;
  background: rgba(226, 191, 101, 0.900);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(255, 255, 255, 0.35);
}

.Rock {
  width: 10rem;
  height: 2.3rem;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 1.5rem;
  background: rgba(182, 161, 54, 0.900);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(255, 255, 255, 0.35);
}

.Bug {
  width: 10rem;
  height: 2.3rem;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 1.5rem;
  background: rgba(166, 185, 26, 0.900);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(255, 255, 255, 0.35);
}

.Ghost {
  width: 10rem;
  height: 2.3rem;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 1.5rem;
  background: rgba(115, 87, 151, 0.900);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(255, 255, 255, 0.35);
}

.Steel {
  width: 10rem;
  height: 2.3rem;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 1.5rem;
  background: rgba(183, 183, 206, 0.900);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(255, 255, 255, 0.35);
}

.Fire {
  width: 10rem;
  height: 2.3rem;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 1.5rem;
  background: rgba(238, 129, 48, 0.900);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(255, 255, 255, 0.35);
}

.Water {
  width: 10rem;
  height: 2.3rem;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 1.5rem;
  background: rgba(99, 144, 240, 0.900);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(255, 255, 255, 0.35);
}

.Grass {
  width: 10rem;
  height: 2.3rem;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 1.5rem;
  background: rgba(122, 199, 76, 0.900);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(255, 255, 255, 0.35);
}

.Electric {
 width: 10rem;
  height: 2.3rem;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 1.5rem;
  background: rgba(247, 208, 44, 0.900);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(255, 255, 255, 0.35);
}

.Psychic {
  width: 10rem;
  height: 2.3rem;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 1.5rem;
  background: rgba(249, 85, 135, 0.900);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(255, 255, 255, 0.35);
}

.Ice {
  width: 10rem;
  height: 2.3rem;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 1.5rem;
  background: rgba(150, 217, 214, 0.900);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(255, 255, 255, 0.35);
}

.Dragon {
  width: 10rem;
  height: 2.3rem;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 1.5rem;
  background: rgba(111, 53, 252, 0.900);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(255, 255, 255, 0.35);
}

.Dark {
  width: 10rem;
  height: 2.3rem;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 1.5rem;
  background: rgba(112, 87, 70, 0.900);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(255, 255, 255, 0.35);
}

.Fairy {
  width: 10rem;
  height: 2.3rem;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 1.5rem;
  background: rgba(255, 204, 204, 0.900);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(255, 255, 255, 0.35);
}

.Shadow {
  width: 10rem;
  height: 2.3rem;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 1.5rem;
  background: rgba(0, 0, 0, 0.900);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(255, 255, 255, 0.35);
}


