/* :root {
    --URL1 : url("https://img.wallpapersafari.com/desktop/800/450/92/59/kaidGe.jpg");
    --URL2 : url("https://img.wallpapersafari.com/desktop/800/450/5/30/rgZUHC.jpg");
    --URL3 : url("https://img.wallpapersafari.com/desktop/800/450/23/93/K3aCZN.jpg");
    --URL4 : url("https://img.wallpapersafari.com/desktop/800/450/33/9/w9vHZt.jpg");
    --URL5 : url("https://img.wallpapersafari.com/desktop/800/450/14/88/O3Q4fS.jpg");
    --URL6 : url("https://img.wallpapersafari.com/desktop/800/450/65/4/78hwnu.jpg");
    --URL7 : url("https://img.wallpapersafari.com/desktop/800/450/11/44/p5ex84.jpg");
    --URL8 : url("https://img.wallpapersafari.com/desktop/800/450/14/19/zXjt7U.jpg");
    --URL9 : url("https://img.wallpapersafari.com/desktop/800/450/24/48/Y8wfOd.jpg");
    --URL10 : url("https://img.wallpapersafari.com/desktop/800/450/15/53/f8R9uL.jpg");
} */

.loading-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animate 10s infinite linear;
}

@keyframes animate {
    0%, 100%{
        image: var(--URL1);
    }
    10%{
        image: var(--URL2);
    }
    20%{
        image: var(--URL3);
    }
    30%{
        image: var(--URL4);
    }
    40%{
        image: var(--URL5);
    }
    50%{
        image: var(--URL6);
    }
    60%{
        image: var(--URL7);
    }
    70%{
        image: var(--URL8);
    }
    80%{
        image: var(--URL9);
    }
    90%{
        image: var(--URL10);
    }
}