@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.filters{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 15rem;
    margin: 15px;
    padding: 10px;
    background-color: #000000;
}

.cards{
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    justify-items: center;
    background-color: #000;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain  ;
}


