@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.divCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 11rem;
    height: 18rem;
    margin: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.8px);
    -webkit-backdrop-filter: blur(8.8px);
    border: 1px solid rgba(255, 255, 255, 0.35);
}

.name {
    font-family: 'Kanit', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    color: rgb(255, 255, 255);
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
} 

.divTypes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.3rem;
}

/* Estilos para cada tipo */
.Normal {
    border-radius: 10px;
    width: 6rem;
    height: 1.5rem;
    margin-bottom: .5rem;
    font-family: 'Kanit', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 200;
    background: rgba(168, 167, 122, 0.356);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.8px);
    -webkit-backdrop-filter: blur(8.8px);
    border: 1px solid rgba(255, 255, 255, 0.35);
}

.Fighting {
    border-radius: 10px;
    width: 6rem;
    height: 1.5rem;
    margin-bottom: .5rem;
    font-family: 'Kanit', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 200;
    background: rgba(194, 46, 40, 0.356);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.8px);
    -webkit-backdrop-filter: blur(8.8px);
    border: 1px solid rgba(255, 255, 255, 0.35);
}

.Fliying {
    border-radius: 10px;
    width: 6rem;
    height: 1.5rem;
    margin-bottom: .5rem;
    font-family: 'Kanit', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 200;
    background: rgba(169, 143, 243, 0.356);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.8px);
    -webkit-backdrop-filter: blur(8.8px);
    border: 1px solid rgba(255, 255, 255, 0.35);
}

.Fire {
    border-radius: 10px;
    width: 6rem;
    height: 1.5rem;
    margin-bottom: .5rem;
    font-family: 'Kanit', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 200;
    background: rgba(238, 129, 48, 0.356);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.8px);
    -webkit-backdrop-filter: blur(8.8px);
    border: 1px solid rgba(255, 255, 255, 0.35);
}

.Poison {
    border-radius: 10px;
    width: 6rem;
    height: 1.5rem;
    margin-bottom: .5rem;
    font-family: 'Kanit', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 200;
    background: rgba(163, 62, 161, 0.356);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.8px);
    -webkit-backdrop-filter: blur(8.8px);
    border: 1px solid rgba(255, 255, 255, 0.35);
}

.Ground {
    border-radius: 10px;
    width: 6rem;
    height: 1.5rem;
    margin-bottom: .5rem;
    font-family: 'Kanit', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 200;
    background: rgba(226, 191, 101, 0.356);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.8px);
    -webkit-backdrop-filter: blur(8.8px);
    border: 1px solid rgba(255, 255, 255, 0.35);
}

.Rock {
    border-radius: 10px;
    width: 6rem;
    height: 1.5rem;
    margin-bottom: .5rem;
    font-family: 'Kanit', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 200;
    background: rgba(182, 161, 54, 0.356);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.8px);
    -webkit-backdrop-filter: blur(8.8px);
    border: 1px solid rgba(255, 255, 255, 0.35);
}

.Bug {
    border-radius: 10px;
    width: 6rem;
    height: 1.5rem;
    margin-bottom: .5rem;
    font-family: 'Kanit', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 200;
    background: rgba(166, 185, 26, 0.356);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.8px);
    -webkit-backdrop-filter: blur(8.8px);
    border: 1px solid rgba(255, 255, 255, 0.35);
}

.Grass {
    border-radius: 10px;
    width: 6rem;
    height: 1.5rem;
    margin-bottom: .5rem;
    font-family: 'Kanit', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 200;
    background: rgba(30, 245, 2, 0.356);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.8px);
    -webkit-backdrop-filter: blur(8.8px);
    border: 1px solid rgba(255, 255, 255, 0.35);
}

.divType {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

