@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.divCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 15rem;
    margin: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.8px);
    -webkit-backdrop-filter: blur(8.8px);
    border: 1px solid rgba(255, 255, 255, 0.35);
}

.name {
    font-family: 'Kanit', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    color: rgb(255, 255, 255);
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
} 

.divTypes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Grass {
    font-family: 'Kanit', sans-serif;
}
