@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.pageItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    margin: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 50%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.8px);
    -webkit-backdrop-filter: blur(8.8px);
    border: 1px solid rgba(255, 255, 255, 0.35);
}

.pageItem:hover {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.8px);
    -webkit-backdrop-filter: blur(8.8px);
    border: 1px solid rgba(255, 255, 255, 0.35);
}

.num {
    font-family: 'Kanit', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    color: rgb(255, 255, 255);
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
}
