@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.divLandingPage {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    background-image: url('../../img/2/pikachu.jpg');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain  ;
    
}

.divLandingPage_container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.h1Welcome {
    font-size: 2.5rem;
    font-weight: 500;
    margin-left: 2rem;
    font-family: 'Kanit', sans-serif;
    color: rgb(255, 255, 255);
    margin-bottom: 1rem;
    text-align: left;
}

.button {
    width: 44%;
    height: 3rem;
    margin-left: 2rem;
    border-radius: 0.5rem;
    border: none;
    background-color: rgb(247, 208, 44);;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
    
}

.button:hover {
    background-color: rgb(214, 179, 39);;
    color: rgb(0, 0, 0);
    transform: translateY(-1px);
}
