@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.nav {
	height: 3rem;
	background-color: #232425;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 3px 6px 0px rgb(235, 211, 77);
	position: relative;
}

.logo {
	height: 3rem;
}

.search {
	width: 30%;
}

.pHP {
	font-size: 1.5rem;
	font-weight: 500;
	font-family: 'Kanit', sans-serif;
	color: #ffffff;
	margin-left: 2rem;
	transition: 0.3s;
}
.pHP:hover {
	color: rgb(247, 208, 44);
	transform: translateY(-1px);
}

.pCP {
	font-size: 1.5rem;
	font-weight: 500;
	font-family: 'Kanit', sans-serif;
	color: rgb(247, 208, 44);
	margin-right: 2rem;
	transition: 0.3s;
}

.pCP:hover {
	color: #ffffff;
	transform: translateY(-1px);
}

.link {
	text-decoration: none;
}

